/* src/pages/Home.css */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid #374151;
    text-align: center;
}



/* Top Right Search Bar */
.search-bar-wrapper {
    position: relative;
}



.search-icon-small {
    position: absolute;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    color: #9ca3af; 
}

.loading-text {
    color: #9ca3af; 
    text-align: center;
    margin-top: 48px; 
}